* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    padding-top: 110px;
}


nav {
    display: flex;
    background-color: black;
    padding: 1.25rem 6.25vw;
    box-shadow:  0 -1px 20px -1px white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.left-nav, a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.125rem;
}

.left-nav span {
    margin-left: 1rem;
    font-weight: bold;
    font-size:  clamp(1rem, 2vw, 1.25rem);
}

.left-nav {
    display: flex;
    align-items: center;
    
}

.nav-btn {
    display: flex;
    flex-direction: row;    
    margin-left: auto;
    align-items: center;
    gap: 3rem;
}

.nav-btn a {
    color: white; 
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-btn a.trackOrder {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 10px 18px;
    font-weight: 500; 
    border: 1px solid transparent; 
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.nav-btn a.trackOrder:hover {
    background-color: rgb(166, 166, 166);
    color: black;
    border-color: rgb(200, 200, 200);
}


.nav-btn a:hover {
    color: gray; 
}

.nav-btn a:not(.trackOrder)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: gray;
    transition: width 0.3s ease;
}

.nav-btn a:not(.trackOrder):hover::after {
    width: 100%;
}


.menu-icon {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;         
    height: 100%;
    background-color: rgba(0, 0, 0, 0.944);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
}

.sidebar .close-btn {
    align-self: flex-end;
    margin-bottom: 2rem;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.sidebar a.trackOrder {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 10px 18px;
    font-weight: 500; 
    border: 1px solid transparent; 
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.sidebar a.trackOrder:hover {
    background-color: rgb(166, 166, 166);
    color: black;
    border-color: rgb(200, 200, 200);
}


.sidebar a:hover {
    color: gray;
}


.sidebar.active {
    transform: translateX(0);
}

footer {
    color: black;
    display: flex;
    margin: 7rem 3rem 0;
}

.vama-corp, .copyright {
    flex: 1;
    padding: 1rem;
    border-top: 1px solid gray;
}

.vama-corp {
    display: flex;
    font-size: 1rem;
}

.copyright {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .copyright {
        justify-content: center;
        border: none;
        padding-top: 0;;
    }

    .vama-corp {
        justify-content: center;
    }

    .nav-btn a{
        display: none;
    }

    .nav-btn .menu-icon {
        display: block;
    }

}