* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    padding-top: 110px;
}

main {  
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: flex-start;  
    padding-left: 10vw;      
    height: 76vh;
    background: url("photo/first\ pic.png") no-repeat center center/cover;
}

.moto {
    font-size: clamp(20px, 5vw, 50px);
    color: white;
}

.order-btn {
    color: white;
    margin-top: 2rem;
    padding: 0.4em 1.5em;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    font-weight: bold;
    font-size: clamp(14px, 2vw, 18px);
    transition: background-color 0.2s ease;
}

.order-btn:hover {
    background-color: rgba(255, 255, 255, 0.129);
}

.pic-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 3rem auto;
    align-items: start;
}

.pic {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background: white;
    height: 100%; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pic:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.pic img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}


.caption {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.sub-caption {
    margin: 1rem auto;
    font-size: 1.1rem;
    max-width: 500px;
    width: 90%;
}

.head-caption {
    letter-spacing: 0.1rem;
}

@media (max-width: 769px) {
    .pic-container {
        grid-template-columns: 1fr;
    }

    .pic img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        max-width: 100%;
    }

    .sub-caption {
        width: 90%;
        font-size: 1rem;
    }

    main {
        background: url("photo/768px.png") no-repeat center center/cover;
    }

}

@media (max-width: 426px) {
    main {
        background: url("photo/425px.png") no-repeat 70% center/cover;
    }
}








