* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1.25rem 5vw;
    letter-spacing: 0.125rem;
}

.fixed {
    position: fixed;
    width: 100vw;
    top: 0;
}

.left {
    display: flex;
    align-items: center;
}

.back {
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size:  clamp(1rem, 2vw, 1.25rem);
    gap: 0.8rem;
    font-size: 1.2rem;
}

main {
    max-width: 600px;
    margin: 4.5rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.order-summary h1 {
    margin-bottom: 1rem;
    text-align: center;
}

#customer-details p,
#order-items p,
.totals p {
    margin: 0.3rem 0;
}

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #ccc;
}

#customer-details {
    margin-top: 16px;
    text-align: left;
}

#order-items {
    text-align: left;
}

.totals {
    text-align: left;
}

.payment-successful {
    color: black;
    text-align: center;
}

.payment-successful-container {
    text-align: center;
}

#copy-order-id:hover {
  fill: #000;
  transform: scale(1.1);
  transition: all 0.2s ease;
}
/* NADAGDAG TO---------------- */

.back-to-home {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.back-to-home:hover {
    background: rgba(0, 0, 0, 0.800);
}

footer {
    color: black;
    display: flex;
    margin: 7rem 3rem 0;
}

.vama-corp, .copyright {
    flex: 1;
    padding: 1rem;
    border-top: 1px solid gray;
}

.vama-corp {
    display: flex;
    font-size: 1rem;
}

.copyright {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .copyright {
        justify-content: center;
        border: none;
        padding-top: 0;;
    }

    .vama-corp {
        justify-content: center;
    }
}