* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.track-container {
    margin: 50px auto;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
}

.track-container h2 {
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.track-container p {
    font-size: 14px;
    color: #666;
    margin-bottom: 1.5rem;
}

.order-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.order-card h3 {
  margin-bottom: 10px;
}

.order-card p {
  margin-bottom: 5px;
  font-size: 15px;
}

.order-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.order-input:focus {
    border-color: #6c63ff;
}

.track-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.track-btn:hover {
    background: rgba(0, 0, 0, 0.850);
}

